* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

@import "header";
@import "footer";
@import "fonts";
@import "inicio";
@import "nosotros";
@import "soporte";
@import "productos";
@import "contacto";

@media screen and (min-width: 600px) {
  /* --------------------Header------------------------- */

  @include header_tablet();

  /* --------------------Footer------------------------- */

  @include footer_tablet ();

  /* --------------------index------------------------- */

  @include inicio_tablet ();

  /* --------------------Nosotros------------------------- */

  @include nosotros_tablet ();

  /* --------------------Soporte------------------------- */

  @include soporte_tablet ();

  /* --------------------Contacto------------------------- */
  
  @include contacto_tablet
  
}


@media screen and (min-width: 1024px) {
 /* --------------------Header------------------------- */
 
  @include header_desktop();

  /* --------------------Footer------------------------- */

  @include footer_desktop ();
 
  /* --------------------Index------------------------- */
  
  @include inicio_desktop();
  
  /* --------------------Nosotros------------------------- */

  @include nosotros_desktop (); 

   /* --------------------Soporte------------------------- */

   @include soporte_desktop ();
 
  /* --------------------Productos------------------------- */
  
  @include productos_desktop();

  /* --------------------Contacto------------------------- */

  @include contacto_desktop ();
  
 

 
  
}